.card:empty,.card.infohidden{
    background: url('image/noname.png');
    background-size: 100% 110.27%;
	background-position: center;
}
.card.infohidden:not(.infoflip){
	background: url('image/noname2.png');
    background-size: 100% 110.27%;
	background-position: center;
}
